@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 21% 93%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 328 65% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 330 20% 96%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 330 20% 96%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 333 64% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 15% 85%;
    --input: 0 15% 85%;
    --ring: 328 65% 48%;
    --chart-1: 328 65% 48%;
    --chart-2: 333 64% 53%;
    --chart-3: 340 65% 65%;
    --chart-4: 350 65% 75%;
    --chart-5: 0 65% 85%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 21% 93%;
    --sidebar-accent-foreground: 328 65% 48%;
    --sidebar-border: 0 15% 85%;
    --sidebar-ring: 328 65% 48%;
  }
  .dark {
    --background: 330 10% 10%;
    --foreground: 0 0% 98%;
    --card: 330 10% 12%;
    --card-foreground: 0 0% 98%;
    --popover: 330 10% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 328 65% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 330 10% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 330 10% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 333 64% 53%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 330 10% 25%;
    --input: 330 10% 25%;
    --ring: 328 65% 48%;
    --chart-1: 328 65% 48%;
    --chart-2: 333 64% 53%;
    --chart-3: 340 65% 65%;
    --chart-4: 350 65% 75%;
    --chart-5: 0 65% 85%;
    --sidebar-background: 330 10% 12%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 330 10% 18%;
    --sidebar-accent-foreground: 328 65% 48%;
    --sidebar-border: 330 10% 25%;
    --sidebar-ring: 328 65% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
